* {
    font-family: 'PT Sans', sans-serif;
}

/* Typography */
body {
    line-height: 1.6;
    background-color: #f4f7f6;
    color: #333;
}

/* Buttons */
.btn {
    transition: all 0.3s ease;
}

.logo {
    position: absolute;
    top: 20px; 
    left: 20px; 
    z-index: 1000; 
    height: 60px; 
}

#disclaimer{
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%); 
    z-index: 2000; 
    width: 70%; 
    opacity: 0.8;
}

#disclaimer:hover{
    transition: 0.5s;
    opacity: 1
}

#info-btn {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    z-index: 1000;
}

.close{
    position: absolute;
    top: 5px; 
    right: 10px; 
}

#map {
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.leaflet-control-attribution.leaflet-control {
    display: none;
}

.leaflet-control-locate {
    background-color: white;
    padding: 8px;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.orange {
    color: orange;
}

.explosion {
    font-size: 24px;
    color: orange;
}

.nuclear-icon {
    font-size: 22px;
    font-weight: bold;
    color: red;
}